/* Page Settings */

:root {
    --header-height: 60px;

    --main-text-color: white;

    --Back-Home-Font-Color: white;
    --Back-Home-Background-Color: rgb(51, 218, 255);
    --Back-Home-Border-Color: rgb(51, 218, 255);
    --Back-Home-Hover-Font-Color: black;
    --Back-Home-Hover-Background-Color: rgb(51, 218, 255);
    --Back-Home-Hover-Border-Color: rgb(51, 218, 255);

    --heading1-font-size: 18px;
    --heading2-font-size: 18px;
    --paragraph-font-size: 16px;
    --list-font-size: 16px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

body {
    background: rgba(4, 10, 22);
    color: var(--main-text-color);
    overflow: hidden;
}


/* Header Style */

header {
    background: transparent;
    backdrop-filter: blur(24px);
    color: var(--main-text-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    height: var(--header-height);

}

.header-left {
    padding: 0 20px 0 20px;
    font-size: var(--heading1-font-size);
    font-weight: bold;
}

.header-right {
    padding: 0 20px 0 20px;
    font-size: var(--paragraph-font-size);
}

.header-right a {
    color: var(--Back-Home-Font-Color);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--paragraph-font-size);

    border: 2px solid var(--Back-Home-Background-Color);
    border-radius: 8px;
    padding: 5px 10px;
}

.header-right a:hover {
    color: var(--Back-Home-Hover-Font-Color);
    background-color: var(--Back-Home-Hover-Background-Color);
    border-color: var(--Back-Home-Hover-Border-Color);
}

.subject-subtitle {
    font-size: var(--paragraph-font-size);
    font-weight: normal;
    color: var(--Back-Home-Background-Color);
    margin-top: 4px;
}


/* Main Content Style */

.content {
    color: var(--main-text-color);
    margin-top: calc(var(--header-height));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: calc(100vh - var(--header-height));
    overflow: hidden;
}

.presentation-heading {
    font-size: var(--paragraph-font-size);
    font-weight: bold;
    margin-bottom: 20px;
}

.presentation-title {
    font-size: var(--heading1-font-size);
}

.presentation-box {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    background: rgb(25, 32, 46);
    border: 1px solid var(--Back-Home-Border-Color);
    border-radius: 12px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

    width: 100%;
    max-width: 700px;
    height: 500px;
}

.content-box {
    flex-grow: 1;
    margin-bottom: 20px;
}

.content-box ul, .content-box ol {
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: var(--list-font-size);
}

.content-box li {
    margin-bottom: 5px;
}

.content-box p {
    margin-bottom: 20px;
    font-size: var(--paragraph-font-size);
}

.part-buttons {
    margin-top: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.previous-next-part-btn {
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: 2px solid var(--Back-Home-Border-Color);
}

.previous-next-part-btn:hover {
    background-color: var(--Back-Home-Hover-Background-Color);
    color: var(--Back-Home-Hover-Font-Color);
}

@media (max-width: 480px) {
    :root {
    --heading1-font-size: 14px;
    --heading2-font-size: 14px;
    --paragraph-font-size: 12px;
    --list-font-size: 12px;
    }

    .content {
        margin-top: 40px;
    }

    .presentation-box {
        max-width: 300px;
        height: 500px;
        padding: 5px;
    }

    .presentation-title {
        font-size: var(--heading2-font-size);
    }

    .previous-next-part-btn {
        padding: 5px;
    }

}